<h1 class="text-3xl font-semibold text-center p-5">Yeni Şirket Ekle</h1>

<div class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
  <form (ngSubmit)="createCompany()">
    <!-- Şirket Adı -->
    <div class="mb-4">
      <label for="name" class="block text-gray-700">Şirket Adı</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="newCompany.name"
        name="name"
        class="w-full p-3 border border-gray-300 rounded"
        placeholder="Şirket adı"
        required
      />
    </div>

    <!-- Adres -->
    <div class="mb-4">
      <label for="address" class="block text-gray-700">Adres</label>
      <input
        type="text"
        id="address"
        [(ngModel)]="newCompany.address"
        name="address"
        class="w-full p-3 border border-gray-300 rounded"
        placeholder="Adres"
        required
      />
    </div>

    <!-- Telefon -->
    <div class="mb-4">
      <label for="phone" class="block text-gray-700">Telefon</label>
      <input
        type="tel"
        id="phone"
        [(ngModel)]="newCompany.phone"
        name="phone"
        class="w-full p-3 border border-gray-300 rounded"
        placeholder="Telefon"
        required
      />
    </div>

    <!-- E-posta -->
    <div class="mb-4">
      <label for="email" class="block text-gray-700">E-posta</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="newCompany.email"
        name="email"
        class="w-full p-3 border border-gray-300 rounded"
        placeholder="E-posta"
        required
      />
    </div>

    <!-- Sektör -->
    <div class="mb-4">
      <label for="industry" class="block text-gray-700">Sektör</label>
      <input
        type="text"
        id="industry"
        [(ngModel)]="newCompany.industry"
        name="industry"
        class="w-full p-3 border border-gray-300 rounded"
        placeholder="Sektör"
        required
      />
    </div>

    <!-- Formu Gönder -->
    <div class="text-center">
      <button
        type="submit"
        class="bg-blue-600 text-white py-3 px-6 rounded-lg hover:bg-blue-700 transition duration-300"
      >
        Şirketi Kaydet
      </button>
    </div>
  </form>
</div>
