<div *ngIf="opportunity" class="max mx-auto bg-white p-6 rounded-lg shadow-md">
  <div class="mb-4">
    <label for="name" class="block text-gray-700 font-semibold mb-2"
      >İsim</label
    >
    <input
      type="text"
      id="name"
      [(ngModel)]="opportunity.name"
      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="mb-4">
    <label for="value" class="block text-gray-700 font-semibold mb-2"
      >Fiyat</label
    >
    <input
      type="number"
      id="value"
      [(ngModel)]="opportunity.value"
      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div class="mb-4">
    <label for="date" class="block text-gray-700 font-semibold mb-2"
      >Tarih</label
    >
    <input
      type="datetime-local"
      id="date"
      [(ngModel)]="opportunity.expectedCloseDate"
      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
  </div>

  <div *ngIf="customers" class="mb-4">
    <label for="customer" class="block text-gray-700 font-semibold mb-2"
      >Müşteri</label
    >
    <select
      id="customer"
      [(ngModel)]="opportunity.customer.id"
      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      <option *ngFor="let customer of customers" [value]="customer.id">
        {{ customer.name }}
      </option>
    </select>
  </div>

  <button
    (click)="updateOpportunity()"
    class="py-2 px-4 bg-orange-500 rounded text-white font-semibold"
  >
    Güncelle
  </button>

  <button
  (click)="cancel()"
  class="py-2 px-4 bg-gray-500 rounded text-white font-semibold ml-5">
    İptal
  </button>
</div>
